<div class='row'>
	<div class='col-4' id='profileSide'>
	<% @profile = Profile.find(session[:user_id])%>
	<% @user = User.find(session[:user_id]) %>
	<% @image = @profile.picture %>
		<img id='profileImg' src="<%= url(@image)%>">
		<h1><%= @user.username %></h1>
		<p><%= @profile.bio %> </p>
	
	<a id='log-out' href='/log-out'>Log-Out</a>
	</div>
</div>

<% @post = Post.find(params[:id]) %>
<div class=' row' id='editz'>
<div class=' col-4' id="postEdit">
<form method="POST" action='/posts/<%=@post.id%>/edit'>
	<label for='username'>Title</label>
	<br>
	<input type="text" name="title" id="title" placeholder="<%=@post.title%>">
	<br>
	<label for='password'>Content</label>
	<br>
	<textarea id='content' name='content' placeholder="<%=@post.content%>"></textarea>
	<br>
	<button type="submit" value="Submit" is='submit'>Post</button>
</form>
</div>
</div>
