<div class='row'>
	<div class='col-4' id='profileSide'>
	<% @profile = Profile.find(session[:user_id])%>
	<% @user = User.find(session[:user_id]) %>
		<img src='<%= @profile.picture%>'>
		<h1><%= @user.username %></h1>
		<p><%= @profile.bio %> </p>
	<button id='makePost'>Create Post</button>
	</div>
</div>


<%@reverse.each do |t| %>

<div class='row posts' id='<%=t.id%>'>
<a method ="POST" href='posts/:id/edit'>edit</a>
	<div class='col-4'></div>
	<div class='col-4 postStuff'>
<h1><%=t.title%></h1>
<p><%=t.content%></p>
<form action="/posts/<%=t.id%>/delete" method="post" id='deleteForm'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <a type="submit" value="submit" value='delete' onclick='document.getElementById("deleteForm").submit()'>Delete</a>
</form>
</div>
</div>
<%end%>





























<container id='blur2'></container>
	<div id="postModal">
		<container id="postModalContent">
			<h1>Create new Post</h1>
				<form method="POST" action='/profile/:id'>
					<label for='username'>Title</label>
					<input type="text" name="title" id="title">
					<br>
					<label for='password'>Content</label>
					<textarea id='content' name='content'></textarea>
					<br>
					<button type="submit" value="Submit" is='submit'>Post</button>
			</form>
			</container>
		</div>
	</div>

	